<!DOCTYPE html>
<html class="no-js" lang="zxx">
<head>
   
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KGBDPDSN');
    </script>

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YBY8DGS692"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-YBY8DGS692');
    </script>

    <!-- Mailchimp -->
    <script id="mcjs">
        !function (c, h, i, m, p) {
            m = c.createElement(h),
            p = c.getElementsByTagName(h)[0],
            m.async = 1,
            m.src = i,
            p.parentNode.insertBefore(m, p)
        }(document, "script", "https://chimpstatic.com/mcjs-connected/js/users/769dd96d7de3ee73d6c778a42/99d8e13bf4042a26957628b74.js");
    </script>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="@ViewData["MetaKeywords"]">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="@ViewData["MetaDescription"]">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <link rel="stylesheet" href="~/css/preloader.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/meanmenu.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/swiper-bundle.css">
    <link rel="stylesheet" href="~/css/backToTop.css">
    <link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/css/fontAwesome5Pro.css">
    <link rel="stylesheet" href="~/css/elegantFont.css">
    <link rel="stylesheet" href="~/css/default.css">
    <link rel="stylesheet" href="~/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Facebook Pixel -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
                n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s);
        }(window, document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');

        fbq('init', '1584601135558175');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=1584601135558175&ev=PageView&noscript=1" />
    </noscript>
</head>

<body>
    <partial name="_CookieConsentPartial" />

    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGBDPDSN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    <partial name="_SiteHeader" />

    <!-- sidebar area start -->
    <div class="sidebar__area">
        <div class="sidebar__wrapper">
            <div class="sidebar__close">
                <button class="sidebar__close-btn" id="sidebar__close-btn">
                    <span><i class="fal fa-times"></i></span>
                    <span>close</span>
                </button>
            </div>
            <div class="sidebar__content">
                <div class="logo mb-40">
                    <a href="/index" rel="nofollow">
                        <img src="/img/logo/FGFBLogo150.png" alt="logo">
                    </a>
                </div>
                <div class="mobile-menu fix"></div>
            </div>
        </div>
    </div>
    <!-- sidebar area end -->

    <div class="body-overlay"></div>

    @RenderBody()

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.meanmenu.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/swiper-bundle.min.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/parallax.min.js"></script>
    <script src="~/js/backToTop.js"></script>
    <script src="~/js/jquery.fancybox.min.js"></script>
    <script src="~/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/js/isotope.pkgd.min.js"></script>
    <script src="~/js/purecounter.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/overrides.js"></script>
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
        </svg>
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>